---
import Layout from "@/components/Layout.astro";
import WereadBookList from "@/components/WereadBookList";
---

<Layout
  title={`书单`}
  description={`我读过的书`}
>
  <h1 class="text-3xl font-bold mb-6">我读过的书</h1>

  <WereadBookList
    listId="333895983_80fTRWHwy"
    client:load
  />
</Layout> 